<section
  style="height: 85vh"
  class="about-section d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="text-center position-relative mb-5 pb-2">
    about component
    <span class="position-absolute end-50">
      <i class="fa-solid fa-star"></i
    ></span>
  </h1>

  <div class="container">
    <div class="row px-4">
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
