<section>
  <h1 class="text-center position-relative my-3">
    portfolio component
    <span class="position-absolute end-50">
      <i class="fa-solid fa-star"></i
    ></span>
  </h1>
  <div class="container my-5">
    <div class="row g-5">
      @for (item of portfolioSrc; track $index) {
      <div class="col-lg-4 col-md-6 my-hover">
        <img [src]="item" class="w-100 rounded-2" alt="poert" />
        <div
          class="caption position-relative"
          (click)="flag = false; modelImg = item"
        >
          <span class="position-absolute end-50 top-50"
            ><i class="plus-icon text-light fa-solid fa-plus"></i
          ></span>
        </div>
      </div>
      }
    </div>
  </div>

  <div
    (click)="hideModle($event.target, img)"
    [class.d-none]="flag"
    class="position-fixed start-0 top-0 h-100 w-100 d-flex justify-content-center align-items-center bg-primary bg-opacity-25"
  >
    <img #img [src]="modelImg" alt="poert" width="650px" class="rounded-3" />
  </div>
</section>
