.home-section {
  background-color: #1abc9c;
  color: white;
  }
  h1::before
  {
  content: '';
  width: 80px;
  height: 5px;
  background-color:white;
  position: absolute;
  bottom: -30%;
  right: 50%;
  transform: translate(-50%);
  }
  h1::after
  {
  content: '';
  width: 80px;
  height: 5px;
  background-color:white;
  position: absolute;
  bottom: -30%;
  right:50%;
  transform: translate(120%);
  }
  span{
    top: 60%;

  }
i{
  font-size: 25px;
}
